---
Checks: '
  -*, 
  bugprone-*, 
  cppcoreguidelines-*, 
  clang-analyzer-*, 
  cert-*,
  modernize-*,
  performance-*,
  readability-*,

  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-special-member-functions,
  -modernize-use-default-member-init
'
